/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, '微軟正黑體',
    '微软雅黑', 'メイリオ', '맑은 고딕';
  color: #222;
}

body {
  width: 350px;
  height: 450px;
  font-size: 12px !important;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 12px;
}

code {
  font-size: 12px;
  font-family: inherit;
  background-color: rgba(254, 237, 185, 0.3);
  padding: 2px 4px;
  border-radius: 2px;
}

.divider {
  margin: 30px auto 25px;
  width: 50px;
  border: 0.5px dashed #000;
  opacity: 0.1;
}

/* custom bootstrap css start */
/* 把 Tabs 改為標籤列在下方 */
.nav-tabs {
  border-top: 1px solid #dee2e6;
  border-bottom: initial !important;
}

.nav-tabs .nav-link {
  margin-top: -1px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: initial !important;
  border-top-left-radius: initial !important;
  border-top-right-radius: initial !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #fff #dee2e6 #dee2e6 #dee2e6 !important;
}

ul.nav.nav-tabs {
  margin-top: 1rem;
}

#rank {
  width: 100%;
  margin-bottom: 0px;
}
#infoTabContent {
  width: 100%;
  margin-bottom: 40px;
}

/* custom bootstrap css end */
