/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕";
    color: #222;
}

body {
    width: 350px;
    height: 300px;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;    
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 12px;
}

code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(254, 237, 185, .3);
    padding: 2px 4px;
    border-radius: 2px;
}

.divider {
    margin: 30px auto 25px;
    width: 50px;
    border: .5px dashed #000;
    opacity: .1;
}
